# Ironhack Data Analytics Project2

## Barcelona citizens with ages +60

In [35]:
import pandas as pd

In [36]:
url_padro = "https://opendata-ajuntament.barcelona.cat/data/dataset/9e93c1db-118a-4520-99e6-b3b955c33758/resource/61d91b31-9ba9-45ca-9cc3-47bf99555b4b/download/2020_padro_edat_any_a_any_per_sexe.csv"

In [37]:
padro = pd.read_csv(url_padro)

In [38]:
padro

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Edat_any_a_any,Nombre
0,2020,1,Ciutat Vella,1,el Raval,Dona,0 anys,203
1,2020,1,Ciutat Vella,2,el Barri Gòtic,Dona,0 anys,59
2,2020,1,Ciutat Vella,3,la Barceloneta,Dona,0 anys,36
3,2020,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,0 anys,59
4,2020,2,Eixample,5,el Fort Pienc,Dona,0 anys,98
...,...,...,...,...,...,...,...,...
14741,2020,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Home,100 anys i més,1
14742,2020,10,Sant Martí,70,el Besòs i el Maresme,Home,100 anys i més,1
14743,2020,10,Sant Martí,71,Provençals del Poblenou,Home,100 anys i més,0
14744,2020,10,Sant Martí,72,Sant Martí de Provençals,Home,100 anys i més,1
14745,2020,10,Sant Martí,73,la Verneda i la Pau,Home,100 anys i més,2

In [39]:
# Adding a key column to the data set

In [40]:
padro["key"] = range(1, len(padro) + 1)

In [41]:
padro.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Edat_any_a_any,Nombre,key
0,2020,1,Ciutat Vella,1,el Raval,Dona,0 anys,203,1
1,2020,1,Ciutat Vella,2,el Barri Gòtic,Dona,0 anys,59,2
2,2020,1,Ciutat Vella,3,la Barceloneta,Dona,0 anys,36,3
3,2020,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,0 anys,59,4
4,2020,2,Eixample,5,el Fort Pienc,Dona,0 anys,98,5

In [42]:
padro.columns

Index(['Any', 'Codi_Districte', 'Nom_Districte', 'Codi_Barri', 'Nom_Barri',
       'Sexe', 'Edat_any_a_any', 'Nombre', 'key'],
      dtype='object')

In [43]:
padro_columns = ['any', 'codi_districte', 'nom_districte', 'codi_barri', 'nom_barri',
       'sexe', 'edat', 'nombre', "key"]

In [44]:
padro.columns = padro_columns

In [45]:
padro.head()

,any,codi_districte,nom_districte,codi_barri,nom_barri,sexe,edat,nombre,key
0,2020,1,Ciutat Vella,1,el Raval,Dona,0 anys,203,1
1,2020,1,Ciutat Vella,2,el Barri Gòtic,Dona,0 anys,59,2
2,2020,1,Ciutat Vella,3,la Barceloneta,Dona,0 anys,36,3
3,2020,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,0 anys,59,4
4,2020,2,Eixample,5,el Fort Pienc,Dona,0 anys,98,5

In [46]:
years = pd.DataFrame(padro["edat"].str.split(" ", 1).tolist(),columns=["edats", "ref"])

In [47]:
years["key"] = range(1, len(years) + 1)

In [48]:
years

      edats         ref    key
0         0        anys      1
1         0        anys      2
2         0        anys      3
3         0        anys      4
4         0        anys      5
...     ...         ...    ...
14741   100  anys i més  14742
14742   100  anys i més  14743
14743   100  anys i més  14744
14744   100  anys i més  14745
14745   100  anys i més  14746

[14746 rows x 3 columns]

In [15]:
# Mergin both data sets with the new column for the ages

In [49]:
padro_merge = pd.merge(padro, years, on='key')

In [50]:
padro_merge.head()

,any,codi_districte,nom_districte,codi_barri,nom_barri,sexe,edat,nombre,key,edats,ref
0,2020,1,Ciutat Vella,1,el Raval,Dona,0 anys,203,1,0,anys
1,2020,1,Ciutat Vella,2,el Barri Gòtic,Dona,0 anys,59,2,0,anys
2,2020,1,Ciutat Vella,3,la Barceloneta,Dona,0 anys,36,3,0,anys
3,2020,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,0 anys,59,4,0,anys
4,2020,2,Eixample,5,el Fort Pienc,Dona,0 anys,98,5,0,anys

In [18]:
# Dropping unecessary columns

In [51]:
padro_merge.drop(["ref"], axis=1, inplace=True)

In [68]:
padro_merge.drop(["edat"], axis=1, inplace=True)

In [69]:
padro_merge.head()

,any,codi_districte,nom_districte,codi_barri,nom_barri,sexe,nombre,key,edats
0,2020,1,Ciutat Vella,1,el Raval,Dona,203,1,0
1,2020,1,Ciutat Vella,2,el Barri Gòtic,Dona,59,2,0
2,2020,1,Ciutat Vella,3,la Barceloneta,Dona,36,3,0
3,2020,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,59,4,0
4,2020,2,Eixample,5,el Fort Pienc,Dona,98,5,0

In [21]:
# Converting the object edats to int

In [70]:
padro_merge['edats'] = padro_merge.edats.astype(int)

#### Total Population by neightborhood

In [71]:
barri = padro_merge.groupby("nom_barri").sum()

In [72]:
new_barri = barri.reset_index()

In [73]:
new_barri.head()

,nom_barri,any,codi_districte,codi_barri,nombre,key,edats
0,Baró de Viver,408040,1818,11716,2625,1493689,10100
1,Can Baró,408040,1414,6868,9331,1488841,10100
2,Can Peguera,408040,1616,9494,2234,1491467,10100
3,Canyelles,408040,1616,9898,6869,1491871,10100
4,Ciutat Meridiana,408040,1616,11110,11091,1493083,10100

In [74]:
#Llista de barris amb nombre d´habitans
#pd.set_option('display.max_rows', None) to show whole dataset
totals_barri = new_barri[["nom_barri", "nombre"]]

In [75]:
totals_barri

                        nom_barri  nombre
0                   Baró de Viver    2625
1                        Can Baró    9331
2                     Can Peguera    2234
3                       Canyelles    6869
4                Ciutat Meridiana   11091
..                            ...     ...
68  la Vila Olímpica del Poblenou    9385
69              la Vila de Gràcia   50926
70                      les Corts   46731
71                   les Roquetes   16417
72                les Tres Torres   16617

[73 rows x 2 columns]

### Total Population by district

In [59]:
districte = padro_merge.groupby("nom_districte").sum()

In [60]:
new_districte = districte.reset_index()

In [61]:
#Llista de districtes amb nombre d´habitants

new_districte[["nom_districte", "nombre"]]

         nom_districte  nombre
0         Ciutat Vella  108331
1             Eixample  270694
2               Gràcia  123651
3       Horta-Guinardó  174799
4            Les Corts   82635
5           Nou Barris  174012
6          Sant Andreu  151976
7           Sant Martí  241691
8       Sants-Montjuïc  187584
9  Sarrià-Sant Gervasi  151157

In [159]:
total_districte = new_districte[["nom_districte", "nombre"]]

In [160]:
total_districte

         nom_districte  nombre
0         Ciutat Vella  108331
1             Eixample  270694
2               Gràcia  123651
3       Horta-Guinardó  174799
4            Les Corts   82635
5           Nou Barris  174012
6          Sant Andreu  151976
7           Sant Martí  241691
8       Sants-Montjuïc  187584
9  Sarrià-Sant Gervasi  151157

### Total population by age

In [78]:
mayor_60 = padro_merge[padro_merge["edats"] > 60]

In [154]:
total_60 = mayor_60.groupby("nom_districte")["nombre"].sum().sort_values()

In [155]:
total_60df = pd.DataFrame(total_60).reset_index()

In [167]:
total_60df

         nom_districte  nombre
0         Ciutat Vella   16837
1            Les Corts   25871
2               Gràcia   31981
3  Sarrià-Sant Gervasi   39266
4          Sant Andreu   40465
5       Sants-Montjuïc   46311
6           Nou Barris   46393
7       Horta-Guinardó   48322
8           Sant Martí   60499
9             Eixample   72092

In [267]:
percentage_60 = pd.merge(total_districte, total_60df, on='nom_districte')

In [268]:
percentage_60 = percentage_60.rename(columns = {"nombre_x":"poblacio_total",
                                                "nombre_y":"poblacio_+60",
                                                })

In [307]:
percentage_60["%_poblacion_+60"] = ((percentage_60["poblacio_+60"]/percentage_60["poblacio_total"])*100)

In [270]:
percentage_60.drop(["percentage"], axis=1, inplace=True)

In [271]:
percentage_60.loc['Total']= percentage_60[["poblacio_total", "poblacio_+60"]].sum()

In [276]:
percentage_60["+60_%_total"] = (percentage_60["poblacio_+60"]/sum(percentage_60.drop("Total")["poblacio_total"]))*100

In [274]:
percentage_60.fillna("", inplace=True)

In [308]:
percentage_60

,nom_districte,poblacio_total,poblacio_+60,%_poblacion_+60,+60_%_total
0,Ciutat Vella,108331.0,16837.0,15.542181,1.010303
1,Eixample,270694.0,72092.0,26.632286,4.325875
2,Gràcia,123651.0,31981.0,25.863923,1.919017
3,Horta-Guinardó,174799.0,48322.0,27.644323,2.899558
4,Les Corts,82635.0,25871.0,31.307557,1.552387
5,Nou Barris,174012.0,46393.0,26.660805,2.783808
6,Sant Andreu,151976.0,40465.0,26.625915,2.428099
7,Sant Martí,241691.0,60499.0,25.031549,3.630238
8,Sants-Montjuïc,187584.0,46311.0,24.688140,2.778888
9,Sarrià-Sant Gervasi,151157.0,39266.0,25.976964,2.356153
Total,,1666530.0,428037.0,25.684326,25.684326

### Population Density

In [82]:
pop_url = "https://opendata-ajuntament.barcelona.cat/data/dataset/b7ba32eb-806e-4c9c-b0b1-9bab387fe501/resource/08c88565-5b50-47d1-8234-6d3dd2da4c58/download/2019_densitat.csv"

In [83]:
density = pd.read_csv(pop_url)

In [84]:
density.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Població,Superfície (ha),Superfície Residencial (ha),Densitat (hab/ha),Densitat neta (hab/ha)
0,2019,1,Ciutat Vella,1,el Raval,47353,110.0,49.6,430,955
1,2019,1,Ciutat Vella,2,el Barri Gòtic,18629,81.6,34.1,228,546
2,2019,1,Ciutat Vella,3,la Barceloneta,14857,109.5,13.5,136,1097
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22590,111.0,32.4,204,697
4,2019,2,Eixample,5,el Fort Pienc,32349,92.9,33.6,348,962

In [101]:
lower_names = [i.lower() for i in density.columns]

In [102]:
density.columns = lower_names

In [110]:
district_density =  density.groupby("nom_districte").sum().reset_index()

In [113]:
district_density

,nom_districte,any,codi_districte,codi_barri,població,superfície (ha),superfície residencial (ha),densitat (hab/ha),densitat neta (hab/ha)
0,Ciutat Vella,8076,4,10,103429,412.1,129.6,998,3295
1,Eixample,12114,12,45,265910,746.4,372.1,2300,4796
2,Gràcia,10095,30,150,121798,422.4,202.4,1461,3118
3,Horta-Guinardó,22209,77,418,171495,1191.9,289.9,2087,6423
4,Les Corts,6057,12,60,81974,601.0,177.9,496,1617
5,Nou Barris,26247,104,650,170669,805.1,232.7,3439,8914
6,Sant Andreu,14133,63,420,149821,658.9,190.5,1795,5476
7,Sant Martí,20190,100,685,238315,1038.7,288.6,2487,8526
8,Sants-Montjuïc,16152,24,116,184091,2267.7,251.5,2377,6116
9,Sarrià-Sant Gervasi,12114,30,147,149260,1991.5,610.9,1047,2043

In [114]:
real_pop = new_districte[["nom_districte", "nombre"]]

In [115]:
real_density = pd.merge(district_density, real_pop, on='nom_districte')

In [116]:
real_density

,nom_districte,any,codi_districte,codi_barri,població,superfície (ha),superfície residencial (ha),densitat (hab/ha),densitat neta (hab/ha),nombre
0,Ciutat Vella,8076,4,10,103429,412.1,129.6,998,3295,108331
1,Eixample,12114,12,45,265910,746.4,372.1,2300,4796,270694
2,Gràcia,10095,30,150,121798,422.4,202.4,1461,3118,123651
3,Horta-Guinardó,22209,77,418,171495,1191.9,289.9,2087,6423,174799
4,Les Corts,6057,12,60,81974,601.0,177.9,496,1617,82635
5,Nou Barris,26247,104,650,170669,805.1,232.7,3439,8914,174012
6,Sant Andreu,14133,63,420,149821,658.9,190.5,1795,5476,151976
7,Sant Martí,20190,100,685,238315,1038.7,288.6,2487,8526,241691
8,Sants-Montjuïc,16152,24,116,184091,2267.7,251.5,2377,6116,187584
9,Sarrià-Sant Gervasi,12114,30,147,149260,1991.5,610.9,1047,2043,151157

In [297]:
pop_2020 = real_density.drop(["població"], axis=1)

In [299]:
pop_2020['Km2'] = pop_2020["superfície (ha)"] * 0.01

In [300]:
pop_2020["density"] = (pop_2020["nombre"]/pop_2020["Km2"]).round()

In [301]:
pop_2020.loc['Total']= pop_2020[["superfície (ha)", "superfície residencial (ha)", "nombre", "Km2", "density"]].sum()

In [302]:
pop_2020.drop(["densitat neta (hab/ha)"], axis=1, inplace=True)

In [303]:
pop_2020.drop(["densitat (hab/ha)"], axis=1, inplace=True)

In [304]:
pop_2020.drop(["codi_districte", "codi_barri", "any",], axis=1, inplace=True)

In [305]:
pop_2020.fillna("", inplace=True)

In [306]:
pop_2020

,nom_districte,superfície (ha),superfície residencial (ha),nombre,Km2,density
0,Ciutat Vella,412.1,129.6,108331.0,4.121,26288.0
1,Eixample,746.4,372.1,270694.0,7.464,36267.0
2,Gràcia,422.4,202.4,123651.0,4.224,29273.0
3,Horta-Guinardó,1191.9,289.9,174799.0,11.919,14666.0
4,Les Corts,601.0,177.9,82635.0,6.010,13750.0
5,Nou Barris,805.1,232.7,174012.0,8.051,21614.0
6,Sant Andreu,658.9,190.5,151976.0,6.589,23065.0
7,Sant Martí,1038.7,288.6,241691.0,10.387,23269.0
8,Sants-Montjuïc,2267.7,251.5,187584.0,22.677,8272.0
9,Sarrià-Sant Gervasi,1991.5,610.9,151157.0,19.915,7590.0
Total,,10135.7,2746.1,1666530.0,101.357,204054.0

In [ ]:
pop_2020["density_%"] = ((pop_2020["poblacio_+60"]/pop_2020["poblacio_total"])*100).round()